<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <style>
    * {
      margin: 0;
      font-family: "Times New Roman", Times, serif;
    }
    .navbar {
      background-color: #fff;
      padding: 10px 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    body {
      background-color: rgb(192, 191, 216);
    }
    .rodape {
      background-color: #f2f2f2;
      padding: 5px 0;
      text-align: center;
      color: #333;
      border-top: 1px solid #ccc;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    .btn {
      background-color: rgb(113, 110, 199);
      margin-bottom: 20px;
    }
    .btn:hover {
      background-color: rgb(147, 145, 197);
    }

    input:hover{
      border-color: rgb(113, 110, 199);;
    }

    .card-header{
      background-color: rgb(113, 110, 199);
    }
  </style>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="navbar-brand"> XYZ LTDA </a>
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-bs-target="#my-nav"
          data-bs-toggle="collapse"
          aria-controls="my-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div id="my-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/tarefa">
                <i class="fas fa-briefcase me-1"></i> Tarefas
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>